<form action='/bookmarks' method='POST'>
  <label for="url">Title:</label>
  <input type="text" id="title" name="title" required><br>
  <label for="url">URL:</label>
  <input type="url" id="url" name="url"><br>
  <input type="submit" value="Add Bookmark"><br><br>
  <input type="submit" value="Delete Bookmark" formaction="/bookmarks_delete" method='post'>
</form>


<% @bookmarks.each do |bookmark| %>
<ul>
  <li> <a href=<%=bookmark.url%>> <%= bookmark.title %> </a> </li>
</ul>
<%end%>
