<form action='/bookmarks' method='POST'>
  <label for="url">Title:</label>
  <input type="text" id="title" name="title" required><br>
  <label for="url">URL:</label>
  <input type="url" id="url" name="url"><br>
  <input type="submit" value="Add Bookmark"><br><br>
</form>


<% @bookmarks.each do |bookmark| %>
<ul>
  <li> <a href=<%=bookmark.url%>> <%= bookmark.title %> </a>
    <form action='/bookmarks/<%=bookmark.id%>' method='POST'>
    <input type="hidden" name="_method" value='DELETE'>
    <input type="submit" id="<%=bookmark.id%>" value="Delete">
    </form>
  </li>
</ul>
<%end%>
