<form action='/bookmark_add' method='POST'>
  <label for="url">Title:</label>
  <input type="text" id="title" name="title"><br>
  <label for="url">URL:</label>
  <input type="text" id="url" name="url" required><br>
  <input type="submit" value="Add Bookmark">
</form>


<% @bookmarks.each do |row| %>
<ul>
  <li> <%= row[:title] %> | <%= row[:url] %> </li>
</ul>
<%end%>
