<form action='/bookmark_add' method='POST'>
<label for="url">URL:</label><br>
<input type="text" id="url" name="url"><br>
<input type="submit" value="Submit">
</form>


<% @bookmarks.each do |url| %>
<ul>
  <li> <%= url %> </li>
</ul>
<%end%>
